extends layout

block content
  head
    title My Three.js Demos
    link(rel="stylesheet", href="styles.css")
  #c1
    #c2
      h1= title
      #c2point1.linkcontainer
        #canvas1.canvascontainer
          a(href="/Demos/demo1.html") Example 1: Moving Dice
          img.image(src="/images/1.png", alt="Image Title")
        #canvas2.canvascontainer
          a(href="/Demos/Text_Geometry/textGeo1.html") Example 2: Render Text Mesh
          img.image(src="/images/2.png", alt="Image Title")
        #canvas3.canvascontainer
          a(href="/Demos/Model_loading/model_loading.html") Example 3: Model Loading
          img.image(src="/images/3.png", alt="Image Title")
      #c2point2.linkcontainer
        #canvas4.canvascontainer
          a(href="/Demos/Applications/1-globe_links.html") Example 4: Globe Links using Trackball and CSS3D
          img.image(src="/images/4.png", alt="Image Title")
        #canvas5.canvascontainer
          a(href="/Demos/free_cam.html") Example 5: Free Camera
          img.image(src="/images/5.png", alt="Image Title")
        #canvas6.canvascontainer
          a(href="/Demos/character_move.html") Example 6: Character Movement
          img.image(src="/images/6.png", alt="Image Title")
      #c2point3.linkcontainer
        #canvas7.canvascontainer
          a(href="/Demos/Games/first_game.html") Example 7: Physics using Ammo.js
          img.image(src="/images/7.png", alt="Image Title")
        #canvas8.canvascontainer
          a(href="/Demos/Games/pixel_shading.html") Example 8: Pixel Shader
          img.image(src="/images/8.png", alt="Image Title")
        #canvas9.canvascontainer
          a(href="/Demos/Fibonacci_Sphere.html") Example 9: Fibonacci Sphere
          img.image(src="/images/9.png", alt="Image Title")
        #canvas10.canvascontainer
          a(href="/Demos/test.html") TEST
          img.image(src="", alt="Test game")
